.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-bg {
  background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-1.png');
  padding-top: 50%;
  @include media-breakpoint-down (sm) {
    padding-top: 100%;
  }
}

.logo {
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/logo.svg');
  width: 121px;
  height: 55px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.carousel-img {
    height: 440px !important;
}

.carousel-img-lg {
  @include media-breakpoint-up (lg) {
    height: 282px;
    width: 282px;
  }
}

.carousel-img-size {
  width: 96px;
  height: 96px;
}

.carousel-img-md-size {
  @include media-breakpoint-down (md) {
    width: 64px;
    height: 64px;
  }
}