.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-bg {
  background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-1.png');
  padding-top: 50%;
  @include media-breakpoint-down (sm) {
    padding-top: 100%;
  }
}

.logo {
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/logo.svg');
  width: 121px;
  height: 55px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}