.hover-bg:hover img {
  position: relative;
  transition: all 0.7s;
} 

.hover-items:hover {
  background: #e7e7e7;
  transition: all 0.5s;
}

.hover-btn:hover {
  background-color: white !important;
  color: $secondary !important;
}

.media-hover:hover {
  border: 3px solid $secondary;
  color: $primary;
  span {
    color: $info;
  }
}