@include media-breakpoint-down (lg) {
  .h-50 {
    height: 50%;
  }
}

@include media-breakpoint-down (sm) {
  .h-sm-100 {
    height: 100%;
  }
}

@include media-breakpoint-down (sm) {
  .h-service {
    height: 132px !important;
  }
}

@include media-breakpoint-down (md) {
  .sub-title-xl {
    font-size: 32px;
  }
}

@include media-breakpoint-down (sm) {
  .sub-title-md {
    font-size: 28px;
  }
  .sub-title-xs {
    font-size: 20px;
  }
  .sub-title-sm {
    font-size: 24px;
  }
  .sub-text-xs {
    font-size: 16px;
  }
  .sub-text-2xs {
    font-size: 14px;
  }
}
