.font {
  &-xs {
    font-size: 14px;
  }
  &-sm {
    font-size: 16px;
  }
  &-md {
    font-size: 20px;
  }
  &-lg {
    font-size: 24px;
  }
  &-xl {
    font-size: 28px;
  }
  &-2xl {
    font-size: 32px;
  }
  &-3xl {
    font-size: 36px;
  }
  &-4xl {
    font-size: 40px;
  }
  &-5xl{
    font-size: 48px;
  }
  &-6xl {
    font-size: 60px;
  }
}

.text-underline {
  text-decoration: underline;
}
