.border-outline {
  border: 1px solid #CED4DA;
}

.border-outline-5 {
  border: 5px solid #ffffff;
}

.border-bottom-shadow {
  box-shadow:
  rgba(131, 131, 131, 0.4)
  0px 0px 15px 0px; 
}

.border-2 {
  border-width: 2px !important;
}