@include media-breakpoint-down(xs) { 
  .nav-link {
  border-bottom: 1px solid #dedede;
  font-size: 20px;
  }
}

.navbar-toggler{
  position: absolute;
  width: 35px;
  height: 30px;
  right: 20px;
  top: 20px;
  border: none;
}

.navbar-toggler span {
  position: absolute;
  background: #F8B52E;
  border-radius: 5px;
  height: 5px;
  width: 100%;
  left: 0;
}

.navbar-toggler span:nth-child(1) {
  top: 0px;
}

.navbar-toggler span:nth-child(2) {
  top: 10px;  
}

.navbar-toggler span:nth-child(3) {
  top: 20px;
}
