.card {
  border: none;
}

.card-photo {
  margin: -50px auto 4px ;
}

.card--footer {
  span{
    vertical-align: sub;
    margin-right: 4px;
  }
}

.card-cover {
  position: relative;
}

.card-cover::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.card-items {
  color: $info;
  line-height: 1;
}

.card-media {
  border: none;
  width: 116px;
  height: 116px;
  font-size: 20px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #888888;
}

.card-sm-media {
  @include media-breakpoint-down (sm) {
    width: 96px;
    height: 96px;
  }
}

.card-media.active {
  border: 3px solid $secondary;
  color: $primary;
  span {
    color: $info;
  }
}