.card {
  border: none;
}

.card-photo {
  margin: -50px auto 4px ;
}

.card--footer {
  span{
    vertical-align: sub;
    margin-right: 4px;
  }
}

.card-cover {
  position: relative;
}

.card-cover::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.card-items {
  color: $info;
  line-height: 1;
}